<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online and messages or information transmitted via the Utano Wedu platform. PII is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">What personal information do we collect from the people that visit our website or app?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">When registering on our website or App, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help with identifying you and help serve you better.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">When do we collect information?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We collect information from you when you register on our website or mobile application. Utano Wedu does not sell information from its platform to third parties. All information transmitted regarding prescriptions is private and Utano Wedu cannot access the contents of prescriptions.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">How do we use your information?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We may use the information we collect from you when you register in the following ways:</span></p>
<ul>
<li style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</span></li>
<li style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> To administer a contest, promotion, survey or other site feature.</span></li>
<li style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> To ask for ratings and reviews of service providers</span></li>
</ul>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">How do we protect your information?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">All transactions are processed through a gateway provider and are not stored or processed on our servers.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Do we use 'cookies'?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We do not use cookies for tracking purposes</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If you turn cookies off .</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Third-party disclosure</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information and we do not collect data on your activities via the App.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Third-party links</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Google</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We have not enabled Google AdSense on our site but we may do so in the future.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Does our site allow third-party behavioural tracking?</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">It's also important to note that we do not allow third-party behavioural tracking on our app or website</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We collect your email address in order to:</span></strong></p>
<ul>
<li style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> Send information, respond to inquiries, and/or other requests or questions</span></li>
</ul>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If at any time you would like to unsubscribe from receiving future emails, you can email us at</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Support@utanowedu.co.zw and we will promptly remove you from <strong>ALL</strong> correspondence.</span></p>
<p><span style="font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Contacting Us</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If there are any questions regarding this privacy policy, you may contact us using the information below.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Utano Wedu</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">24 Dawn Hill,</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Grendale,</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Harare</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Zimbabwe</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Email: support@utanowedu.co.zw</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Tel: +263778 075 043</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Last Edited on 2019-3-25</span></p>