<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">UTANO WEDU MOBILE APPLICATION TERMS AND CONDITIONS OF USE</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Welcome to the Utano Wedu Mobile application. This app is published by and on behalf of Utano Wedu a company registered in Zimbabwe whose address is <strong>24 Dawn Hill Road,Greendale, Harare,&nbsp; Zimbabwe</strong></span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">By downloading or using the app, these terms will automatically apply to you &ndash; you should make sure therefore that you read them carefully before using the app.&nbsp; If you do not agree with these terms do not download the application.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">GENERAL RULES RELATING TO CONDUCT</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We are offering you this app to use for your own personal use without cost, but you should be aware that you cannot send it on to anyone else, and you&rsquo;re not allowed to copy, or modify the app, any part of the app or our trademarks in any way.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You&rsquo;re not allowed to attempt to extract the source code of the app, and you also shouldn&rsquo;t try to translate the app into other languages or make derivative versions. The app itself and all the trade marks, copyright, database rights and other intellectual property rights related to it belong to Utano Wedu.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree to indemnify Utano Wedu in full on demand from and against any loss, damage, costs or expenses which may be suffered directly or indirectly because of your use of the app contrary with these Terms and conditions. You agree that you are responsible for all activities that occur under your Account or password, even if not authorized by you. You must notify us immediately of any breach of security or unauthorized use of your Account.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">PRICE AND DATA USAGE</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;The app is made available to you free of charge, however access to this app requires an internet connection. Additional data charges may apply from the service provider due to use of the app.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If you&rsquo;re using the app outside of an area with Wi-Fi, you should remember that your terms of agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the app, or other third-party charges.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">REGISTRATION DATA<br /></span></strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">In order to access the Company&rsquo;s services you will be required to register/ sign up. By signing up, you agree to:<br />&nbsp;<strong>(a)</strong> provide certain current, complete, and accurate information about yourself as prompted to do so by the Company and<br />&nbsp;<strong>(b)</strong> maintain and update this information as required to keep it current, complete and accurate. All information that we request and you provide on original sign-up, and all updates thereto, are referred to in these Terms of Service as "<strong>Registration Data</strong>."<br /><br />The Company reserves the right to take any and all action, as it deems necessary or reasonable to maintain the security of your account including without limitation terminating your account, changing your password etc. We Explicitly Disclaim Liability For Any And All Losses And Damages Arising From Your Failure To Comply With This Section.</span></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">APP AVAILABILITY</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The application may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">NO PRACTICE OF MEDICINE</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The Online Services are not intended to be and must not be taken to be the practice of medicine, pharmacy or the practice of other healthcare services by Utano Wedu. Use of the Application or the Online Services does not create a physician/patient or provider/patient relationship with Utano Wedu. Utano Wedu is not recommending or endorsing any specific prescription drug, pharmacy or health care provider. Please seek medical advice before starting, changing or terminating any medication or prescription. The application is only for quotation purposes only and regulations in dispensing drugs still apply.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">PERSONAL AND BUSINESS INFORMATION</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The application contains business information of service providers and such Information is investigated and monitored by us. However we are not responsible for the content or accuracy as service providers change business premises from time to time and may fail or delay to notify us. Utano Wedu is not responsible for accuracy of information provided by service providers as part of the Utano Wedu platform and you shall not hold Utano Wedu liable for any losses or damages suffered as a result of inaccurate information provided by service providers. For effective communication and maximum benefit from some of the features of Utano Wedu, you are required to provide accurate information about yourself and in some instances ensuring that your location is accurate before searching for service providers. You acknowledge your responsibility in this regard. You therefore indemnify us from any loss or damage that may be suffered as a result of incorrect or inaccurate information. </span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You understand the risks associated with online technologies and Utano Wedu has implemented standard security measures. You will not hold Utano Wedu liable for losses resulting from system breaches which are not preventable by standard security systems.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">SPECIAL PROVISION REGARDING THE PRESCRIPTIONS</span></strong></li>
</ol>
<p style="background: white; margin: 0in 0in 8.0pt 32.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree that you are responsible safeguarding contents of prescriptions which are accessible via physical possession of your mobile phone or through your login details. You agree that you will not share your login details with anyone including Utano Wedu personnel. Utano Wedu shall not be responsible for any breach of privacy resulting from your failure to observe the above provisions.</span></p>
<p style="background: white; margin: 0in 0in 8.0pt 32.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Utano Wedu shall not be liable for any breach of your privacy cause through pharmacies and doctors who are part of the Utano Wedu Platform. It is the responsibility of service providers to keep their login credentials safe and to observe your privacy by not sharing your prescription with any 3</span><span style="font-size: 8.0pt; line-height: 115%; font-family: Montserrat;">rd</span><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> party, including Utano Wedu.</span></p>
<p style="background: white; margin: 0in 0in 8.0pt 32.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">NETWORK ACCESS AND DEVICES. </span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You are responsible for obtaining the compatible hardware or devices and data network access necessary to use the Services. The Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications and we shall not be held liable for any such malfunction or delay. </span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">CHANGES TO TERMS AND CONDITIONS.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You may be prompted to accept the revised Terms and Conditions typically by checking the appropriate "agreement" checkbox or clicking or tabbing the "accept" button if such button or function is available or present via the user interface for the respective Service.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;You may not continue to Use the Services unless you accept the revised Terms and Conditions.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You also accept the revised Terms and Conditions when You continue to Use the Services after you have been duly notified of the changes.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">In this case you are bound and Utano Wedu will treat you as bound by the revised Terms and Conditions from the date on which the revised Terms and Conditions entered into effect. You are free to end this Agreement at any time should You choose not to accept the revised Terms and Conditions.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">CONTENT</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The trademarks, service marks and logos contained on or in the App are owned by Utano Wedu. You cannot use, copy, vary, edit, reproduce, publish, display, distribute, transmit, commercially exploit or disseminate the trademarks without prior written consent of Utano Wedu.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The copyright in all material contained in or available through the app including all information, text or graphics, the selection and arrangement thereof and all source code, software compilations and other material is owned by Utano Wedu. You can view, print, download material for your own personal use but you cannot transmit or disseminate in any way without Utano Wedu&rsquo;s approval.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">MEDICAL NETWORK PROPRIETARY RIGHTS</span></strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">.</span></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You understand and agree that Utano Wedu and its licensors and their suppliers (as applicable) own all legal right, title, and interest in and to the Service and Content, including any intellectual property rights in the Service and Content (whether those rights are registered or not and wherever in the world those rights may exist).</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Map Data</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Content (including map data, directions, and places) is provided for planning purposes only and is based on input from medical services providers. You may find that weather conditions, construction projects, closures, or other events may cause road conditions or directions to differ from the results depicted in the Content. You should exercise judgment in your use of the Content. Utano Wedu does not guarantee the accuracy of map data and you will not hold Utano Wedu liable for any losses or damages suffered as a result of inaccurate map data in the system.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">RESPONSIBILITY FOR BREACHES.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;You are solely responsible for (and Utano Wedu has no responsibility to you or any third party for) any breach of your obligations under the Terms and for the consequences of any such breach (including any loss or damage that Utano Wedu may suffer).</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">RESTRICTIONS ON TRYING TO SHUT DOWN THE SERVICE.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;We want to make sure that the Services remain online and available for all users. To help ensure this, during the agreement term, you will not try to shut down the Services that you have been using by seeking an injunction or exclusion order.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol start="13">
<li style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;"> TERMINATING THIS AGREEMENT.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">13.1 The Terms will continue to apply until terminated by either you or Utano Wedu as described below.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">13.2 You may terminate your legal agreement with Utano Wedu by removing the App from your phone and discontinuing your use of the Service at any time. You do not need to specifically inform Utano Wedu when you stop using the Service.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">13.3 Utano Wedu reserves the right to terminate these Terms or discontinue the Service, or any portion or feature of the Service, for any reason and at any time without liability or other obligation to you.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">EXCLUSION OF WARRANTIES.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">14.1 You expressly understand and agree that your use of the service and the content is at your sole risk and that the service and the content are provided "as is" and "as available." in particular, Utano Wedu and its subsidiaries and affiliates, and its licensors and their suppliers, do not represent or warrant to you that:</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The service will meet your requirements;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The service will be uninterrupted, timely, secure, or error-free;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The service will be accurate or reliable; and</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Defects in the operation or functionality of any software provided to you as part of the service will be corrected.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">14.2 Any content obtained through the Utano Wedu services is at your own discretion and risk and you will be solely responsible for any damage to your computer system or other device, loss of data, or any other damage or injury that results from downloading or using any such content.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">LIMITATIONS OF LIABILITY.</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">15.1 you expressly understand and agree that, to the maximum extent permitted by applicable law, Utano Wedu its subsidiaries, and affiliates, and Utano Wedu&rsquo;s licensors and their suppliers, will not be liable to you for:</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any direct, indirect, incidental, special, consequential, exemplary, or punitive damages that may be incurred by you, however caused and under any theory of liability (including contract, common law, or statutory damages); any loss of revenues or profit (whether incurred directly or indirectly); any loss of goodwill or business reputation; any loss of data; any cost to procure services; or any intangible loss; or</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any loss or damage as a result of:</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any reliance placed by you on the completeness, accuracy, or existence of any service provider, or as a result of any relationship or transaction between you and any service provider who appears on Utano Wedu services;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any changes that Utano Wedu may make to the service, or any permanent or temporary discontinuation of the service (or any features within the service);</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The deletion or corruption of, or failure to store, any content and other data maintained or transmitted by or through your use of the service;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Your failure to provide Utano Wedu with accurate account information; or</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Your failure to keep your password or account details secure and confidential.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">PRIVACY POLICY</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;We take your privacy very seriously. Utano Wedu will only use your personal information in accordance with the terms of our privacy policy. By using the app you acknowledge and agree that you have read and accept the terms of our privacy policy and these terms. Privacy Policy</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">GOVERNING LAW</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">These App Terms shall be governed by the laws of the republic of Zimbabwe and the parties submit to the exclusive jurisdiction of the courts of Zimbabwe to resolve any dispute between them arising under or in connection with these App Terms.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If any provision (or part of a provision) of these App Terms is found by any court or administrative body of competent jurisdiction to be invalid, unenforceable or illegal, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid fully permitted by law.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">INDEMNIFICATION</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree to indemnify, defend and hold harmless Utano Wedu and its&nbsp; directors, officers, owners, agents, co-branders or other partners, employees, information providers, licensors, licensees, consultants, contractors and other applicable third parties from and against any and all claims, demands, causes of action, debt or liability, including reasonable attorney&rsquo;s fees, including without limitation attorney&rsquo;s fees and costs incurred by the Indemnified Parties arising out of, related to, or which may arise from: (i) your use of the Service; (ii) any breach or non-compliance by you of any term of this Terms of Service or any of Utano Wedu&rsquo;s policies; (iii) any dispute or litigation caused by your actions or omissions; or (iv) your negligence or violation or alleged violation of any law or rights of a third party.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">LIMITATIONS OF LIABILITY; FORCE MAJEURE</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">In no event shall any Utano Wedu party be responsible or liable to users or any third party under any circumstances for any indirect, consequential, special, punitive or exemplary, damages or losses, including but not limited to damages for loss , goodwill, use, data, or other intangible losses which may be incurred in connection with any Utano Wedu&rsquo;s party or the service, or any goods, services, or information&nbsp; received,&nbsp; or paid for by way of the service, regardless of the type of claim or the nature of the cause of action.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">ASSIGNMENT</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You may not assign this Terms of Service or any rights or obligations hereunder, by operation of law or otherwise, without our prior written approval and any such attempted assignment shall be void. We reserve the right to freely assign this Terms of Service and the rights and obligations hereunder, to any third party without notice or consent. Subject to the foregoing, this Terms of Service shall be binding upon and inure to the benefit of the parties hereto, their successors and permitted assigns.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">CONTACT US</span></strong></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If you have any questions regarding our App, you can email support@utanowedu.co.zw</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Entire Agreement</span></strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">.</span></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">These Terms set out all terms agreed between the parties and supersede all other agreements between the parties relating to its subject matter.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Last updated 25 March 2019</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">TERMS AND CONDITIONS FOR USE OF Utano Wedu WEBSITE</span></strong></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Welcome to the Utano Wedu Website, published by and on behalf of Utano Wedu a company registered in Zimbabwe whose address is <strong>24 Dawn Hill Road, Greendale Harare, Zimbabwe.</strong></span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">By signing up, these terms will automatically apply to you &ndash; you should make sure therefore that you read them carefully before signing up.&nbsp; If you do not agree with these terms do not proceed to sign up.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">YOUR ACCOUNT</span></li>
</ol>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We require that you create an Account to access or use some or all the Online Services.&nbsp; By creating an Account, you agree to: (a) provide accurate and current information; and (b) maintain and promptly update such information to keep it accurate and current.&nbsp; If you provide any information that is false, inaccurate, or deceptive, as determined in our sole discretion, we may suspend or terminate any Account you establish, decline to provide you with the Online Services, and/or refuse any or all current or future use of the Online Services or any portion thereof.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If you create an Account, you are responsible for maintaining the confidentiality of your Account and password and for restricting access to your computer.&nbsp; You may not share your Account and password with anyone.&nbsp; You agree that you are responsible for all activities that occur under your Account or password, even if not authorized by you. You must notify us immediately of any breach of security or unauthorized use of your Account.</span></p>
<p style="margin-bottom: 8.0pt; background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Vetting of Third Party Providers <br />Service providers may be subject to an extensive vetting process before they can register for and during their use of the Utano Wedu Platform, including. Although we may perform background checks of service providers, we cannot confirm that each service provider is who they claim to be and therefore, we cannot and do not assume any responsibility for the accuracy or reliability of identity or background check information or any information provided through the Utano Wedu Platform. We are not responsible for the conduct, whether online or offline, of any user of the Utano Wedu platform and you hereby release Utano Wedu from any liability related thereto. We will not be liable for any claim, injury or damage arising in connection with your use of the Utano Wedu platform.</span></li>
</ol>
<ol style="margin-top: 0in;">
<li style="color: black;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">The Company makes no claims or promises in respect to any third party, such as the businesses or advertisers listed on the site or the site's users. Accordingly, the company&rsquo;s entities are not liable to you for any loss or damage that might arise from their actions or omissions, including, for example, if another user or business misuses your content, identity or personal information, or if you have a negative experience with one of the businesses or advertisers listed or featured on the site. Your purchase and use of products or services offered by third parties through the site is at your own discretion and RISK.</span></li>
</ol>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">SUBSCRIPTION FEES</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp; You agree to pay subscriptions in accordance with the fees, charges, and billing terms in effect at the time a fee or cis due and payable. You must provide the Company with a valid credit card (Visa, MasterCard, or any other issuer accepted by us) or Paynow account ("Payment Provider") as a condition to signing up for any of the Personalized Services. Your Payment Provider agreement governs your use of the designated credit card or PayPal account, and you must refer to that agreement and not the Terms to determine your rights and liabilities. By providing the Company with your credit card number or PayPal account and associated payment information, you agree that the Company is authorized to immediately invoice your account for all fees and charges due and payable to the Company hereunder and that no additional notice or consent is required. You agree to immediately notify the Company of any change in your billing address or the credit card or PayPal account used for payment hereunder. We reserve the right at any time to change our prices and billing methods, either immediately upon posting on the Company Properties or by e-mail delivery to you.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">&nbsp;MONITORING<br />You acknowledge and agree that we reserve the right (but have no obligation) to do one or all of the following, at our sole discretion: (a) evaluate Content before allowing it to be posted on the Website; (b) monitor Content; (c) alter, remove, reject, or refuse to post or allow to be posted, without notice to you, any Content, for any reason or for no reason whatsoever; provided, however, that we shall have no obligation or liability to you for failure to do so or for doing so in any particular manner; and/or (d) disclose any Content, and the circumstances surrounding its transmission, to any third party in order to operate the Website; to protect the Company and the Website's users and visitors; to comply with legal obligations or governmental requests; to ENFORCE this Agreement; or for any other reason or purpose.</span></li>
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">privacy of users</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree to keep patients/users information confidential and you are liable for breach of privacy and losses resulting from authorized or unauthorized access to your account. You are not to share any information received via prescriptions with anyone and you agree to indemnify Utano Wedu of any losses that may arise as a result of your breach of provisions in this clause.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">UPDATES TO THE COMPANY PROPERTIES</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You understand that the Company Properties are evolving. We may make improvements and/or changes to the Website, add new features, or terminate the Website at any time without notice. As a result, the Company may require you to accept updates to the Company Properties that you have installed on your computer or mobile device. You acknowledge and agree that at any time and from time to time the Company may update the Company Properties without any notice or liability to you or any other person. You may also need to update third-party software from time to time to use the Company Properties. We do not warrant that information on the Website is accurate, complete, reliable, current or error-free. Some jurisdictions may not allow the exclusions and disclaimers of certain implied warranties, so some of the provisions of this section may not apply to you.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">THIRD PARTY SERVICES<br />&nbsp;&nbsp;&nbsp; <strong>6.1 Third Party Websites, Content and Ads.</strong> The Company Properties contain (or you may be sent through the Company Properties) links to other websites ("<strong>Third Party Sites</strong>"), as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, software and other content belonging to or originating from third parties (the "<strong>Third Party Content</strong>") and advertisements for third parties ("<strong>Third Party Ads</strong>"). When you click on a link to a Third Party Site or Third Party Ad, we will not warn you that you have left the Company Properties and are subject to the terms and conditions (including privacy policies) of another website or destination.<br />Such Third Party Sites, Third Party Content, and Third Party Ads are not investigated, monitored or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third Party Sites accessed through the Company Properties or any Third Party Content or Third Party Ads posted on or through the Company Properties, including without limitation the content, validity, truthfulness, completeness, usefulness accuracy, offensiveness, opinions, reliability or policies of or contained in the Third Party Sites, Third Party Content, or Third Party Ads, or other Content on our Website other than from an authorized Company representative acting in his or her official capacity. Any information, statements, opinions or other Content provided by third parties and made available on our Website are those of the respective author(s) and not the Company.</span></li>
<ol style="margin-top: 0in;">
<li style="color: black;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Links to Third Party Sites or Third-Party Content.</span></strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;"> Inclusion of or linking to any Third- party Site or any Third- party Content is solely as a convenience to users and does not imply approval or endorsement thereof by us. If you use these links, you will leave our Website. If you decide to visit any linked website, you do so at your own risk and it is your responsibility to take all protective measures to guard against viruses or other destructive elements. Under no circumstance will the Company be liable for any loss or damage caused, directly or indirectly, by your reliance on any such third-party Content.<br /><br />The Company does not make any warranty or representation regarding, or endorse or otherwise sponsor, any linked websites or the information appearing thereon or any of the products or services described thereon. Links do not imply that the Company is legally authorized to use any trademark, trade name, logo or copyright symbol displayed in or accessible through the links, or that any linked website is authorized to use any trademark, trade name, logo or copyright symbol of the Company.<br /><br />You agree that your use of third-party websites and resources, including without limitation your use of any content, information, data, advertising, products or other materials on or available through such websites and resources, is at your own risk and is subject to the terms and conditions of use applicable to such websites and resources.<br />You should review the applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the Company Properties.</span></li>
</ol>
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">DISCLAIMER OF WARRANTIES</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The service, including all content, software, functions, materials, and information made available on, provided in connection with or accessible through the service, is provided "as is." to the fullest extent permissible by law, Utano Wedu and other affiliates, and their agents, co-branders or other partners, make no representation or warranty of any kind whatsoever for the service or the content, materials, information and functions made accessible by the software used on or accessed through the service, or for any breach of security associated with the transmission of sensitive information through the service.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Each Utano Wedu party disclaims without limitation, any warranty of any kind with respect to the service, noninfringement, merchantability, or Competence of the service providers. The Utano Wedu parties do not warrant that the addresses and contacts contained in the service will be precise or error free.&nbsp;&nbsp; The Utano Wedu parties shall not be responsible for any service delivery calamities with the service providers.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Network Access and Devices. </span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You are responsible for obtaining the compatible hardware or devices and data network access necessary to use the Services. The Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications and we shall not be held liable for any such malfunction or delay. </span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">CHANGES TO TERMS AND CONDITIONS.</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You may be prompted to accept the revised Terms and Conditions, typically by checking the appropriate "agreement" checkbox, or clicking or tabbing the "accept" button if such button or function is available or present via the user interface for the respective Service.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;You may not continue to Use the Services unless you accept the revised Terms and Conditions.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You also accept the revised Terms and Conditions when You continue to Use the Services after you have been duly notified of the changes.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">In this case You are bound by and Utano Wedu will treat You as bound by the revised Terms and Conditions from the date on which the revised Terms and Conditions entered effect. You are free to end this Agreement at any time should You choose not to accept the revised Terms and Conditions.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">CONTENT</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The trademarks, service marks and logos contained on or in the App are owned by Utano Wedu. You cannot use, copy, vary, edit, reproduce, publish, display, distribute, transmit, commercially exploit or disseminate the trademarks without prior written consent of Utano Wedu.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The copyright in all material contained in or available through the app including all information, text or graphics, the selection and arrangement thereof and all source code, software compilations and other material is owned by Utano Wedu. You can view print, download material for your own personal use but you cannot transmit or disseminate in any way without Utano Wedu&rsquo;s&nbsp; approval.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Intellectual Property Restrictions.</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">No distribution or sale except as permitted under the Terms. You will not distribute, sell, or otherwise make any part of the Service available to third parties except as permitted by these Terms.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">No derivative works. You will not modify or create a derivative work based on any Content unless expressly permitted to do so under these Terms. For example, the following are prohibited: (iii) tracing or copying the copyrightable elements of Utano Wedu&rsquo;s maps or building outlines and creating a new work, such as a new mapping or navigation dataset.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Restrictions on Trying to Shut Down the Service.</span></strong></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;We want to make sure that the Services remain online and available for all users. To help ensure this, during the agreement term, you will not try to shut down the Services that you have been using by seeking an injunction or exclusion order.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">LIMITATIONS OF LIABILITY.</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You expressly understand and agree that, to the maximum extent permitted by applicable law, Utano Wedu its subsidiaries, and affiliates, and Utano Wedu&rsquo;s licensors and their suppliers, will not be liable to you for:</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any direct, indirect, incidental, special, consequential, exemplary, or punitive damages that may be incurred by you, however caused and under any theory of liability (including contract, common law, or statutory damages); any loss of revenues or profit (whether incurred directly or indirectly); any loss of goodwill or business reputation; any loss of data; any cost to procure services; or any intangible loss; or</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any loss or damage as a result of:</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any reliance placed by you on the completeness, accuracy, or existence of any service provider, or as a result of any relationship or transaction between you and any service provider who appears on Utano Wedu services;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Any changes that Utano Wedu may make to the service, or any permanent or temporary discontinuation of the service (or any features within the service);</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The deletion or corruption of, or failure to store, any content and other data maintained or transmitted by or through your use of the service;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Your failure to provide Utano Wedu with accurate account information; or</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">Your failure to keep your password or account details secure and confidential.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><strong><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">PRIVACY POLICY</span></strong></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">We take your privacy very seriously. Utano Wedu will only use your personal information in accordance with the terms of our privacy policy. By signing up you acknowledge and agree that you have read and accepted the terms of our privacy policy and these terms. Privacy Policy</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">GOVERNING LAW</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">These terms shall be governed by the laws of the republic of Zimbabwe and the parties submit to the exclusive jurisdiction of the courts of Zimbabwe to resolve any dispute between them arising under or in connection with these terms.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">If any provision (or part of a provision) of these terms is found by any court or administrative body of competent jurisdiction to be invalid, unenforceable or illegal, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid fully permitted by law.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Indemnification</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree to indemnify, defend and hold harmless Utano Wedu and its&nbsp; directors, officers, owners, agents, co-branders or other partners, employees, information providers, licensors, licensees, consultants, contractors and other applicable third parties from and against any and all claims, demands, causes of action, debt or liability, including reasonable attorney&rsquo;s fees, including without limitation attorney&rsquo;s fees and costs incurred by the Indemnified Parties arising out of, related to, or which may arise from: (i) your use of the Service; (ii) any breach or non-compliance by you of any term of this Terms of Service or any of Utano Wedu&rsquo;s policies; (iii) any dispute or litigation caused by your actions or omissions; or (iv) your negligence or violation or alleged violation of any law or rights of a third party.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">LIMITATIONS OF LIABILITY; FORCE MAJEURE</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">In no event shall any Utano Wedu party be responsible or liable to users or any third party under any circumstances for any indirect, consequential, special, punitive or exemplary, damages or losses, including but not limited to damages for loss , goodwill, use, data, or other intangible losses which may be incurred in connection with any Utano Wedu&rsquo;s party or the service, or any goods, services, or information&nbsp; received,&nbsp; or paid for by way of the service, regardless of the type of claim or the nature of the cause of action.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">ASSIGNMENT</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You may not assign this Terms of Service or any rights or obligations hereunder, by operation of law or otherwise, without our prior written approval and any such attempted assignment shall be void. We reserve the right to freely assign this Terms of Service and the rights and obligations hereunder, to any third party without notice or consent. Subject to the foregoing, this Terms of Service shall be binding upon and inure to the benefit of the parties hereto, their successors and permitted assigns.</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">Entire Agreement</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;These Terms set out all terms agreed between the parties and supersede all other agreements between the parties relating to its subject matter.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<ol style="margin-top: 0in;">
<li style="color: black; margin-bottom: 8.0pt;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat; color: windowtext;">TERMINATION</span></li>
</ol>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">The Website and this Agreement are in effect until terminated by the Company. In addition to any right or remedy that may be available to the Company under applicable law, the Company may suspend, limit or terminate all or a portion of your access to the Website or any of its features at any time with or without notice and with or without cause and without liability to you, including without limitation, if the Company believes that you have violated or acted inconsistently with the letter or spirit of this Agreement. The provisions of this Agreement concerning authorized use, intellectual property rights, disclaimer of warranty, limitation of liability and indemnity, as well as any other provisions that by their nature should survive, shall survive any such termination.</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">&nbsp;</span></p>
<p style="background: white;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Montserrat;">You agree that if your use of the Website is terminated pursuant to this Agreement, you will not attempt to use the Website under any name, real or assumed. You further agree that if you violate this restriction after your use of the Website is terminated, you will indemnify and hold us harmless from all liability that we may incur therefor. We reserve the right to have all violators prosecuted fully of the law.</span></p>